{% extends "layout.html" %}
{% block content %}
 <div class="event-div" id="events">
        <h2>Your Events</h2>
        <div class="all-events">
            {% for event in events %}
                <div id='{{ event.id }}' class="event-card"> 
                    <p id='{{ event.id }}' class="title">
                        <h3><a href="{{ url_for('view_event', event_id = event.id) }}">{{ event.title }}</a></h3>
                    </p>
                    <p> {{ event.detail }}</p>
                    <p> {{ event.time }}</p>
                    <p> {{ event.owner }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
<div class="event-div" id="events">
    <h2>RSVP events</h2>
        <div class="all-events">
            {% for rsvp_event in rsvp_events %}
                
                <div id='{{ rsvp_event.id }}' class="event-card"> 
                    <p id='{{ rsvp_event.id }}' class="title">
                        <h3><a href="#">{{ rsvp_event.title }}</a></h3>
                    </p>
                    <p> {{ rsvp_event.detail }}</p>
                    <p> {{ rsvp_event.time }}</p>
                </div>
            {% endfor %}
        </div>
</div>
{% endblock content%}